body {
  background-color: transparent;
  color: #222;
}

.masthead {
  background-image: url('/images/crab_w44.jpg');
  background-size: cover;
  background-color: transparent; /* Ensure no color overlays the image */
}

.masthead__inner-wrap {
  background: transparent !important; /* Remove any colored background from the inner bar */
}